.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message {
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
}

.user {
  background-color: #1c69ee;
  margin-left: 25%;
  align-self: flex-end;
  color: white;
}

.appie {
  background-color: #e9e9eb;
  margin-right: 25%;
  align-self: flex-start;
  color: black;
}

.chat-input input {
  flex: 1;
  padding: 6px;
}

.container {
  display: flex;
  align-items: center; /* Vertically center items */
}

.appie a {
  color: #007bff; /* Link color */
  text-decoration: underline; /* Underline to indicate a link */
  cursor: pointer; /* Show pointer cursor on hover */
}