.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.message {
  padding: 8px;
  margin: 4px;
  border-radius: 8px;
}

.user {
  background-color: #aaf;
  margin-left: 25%;
  align-self: flex-end;
}

.bot {
  background-color: red;
  margin-right: 25%;
  align-self: flex-start;
}

.chat-input input {
  flex: 1;
  padding: 6px;
}
